<div class="main-section">
  <h1 class="certificate-title">Certificate of Competency</h1>
  <div class="certificate-details">
    <p>
      This is to certify that
      <span class="certificate-holder">{{firstName}} {{lastSurname}}</span>
      has participated in the occupational training course
      <span class="text-bold">{{courseTitle}}</span>
      sponsored by the San Diego Country Regional Occupational Program and
      <span class="text-bold">{{nameOfInstitution}}</span>
      and a list of occupational competencies attained by the student is attached and was awarded on
      <span class="text-bold">{{dateOfIssue}}</span>
    </p>
  </div>
</div>